* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #C33149;
}

#index-title {
    font-size: 2.2rem;
    text-align: center;
    padding: 20px 0px;
    letter-spacing: 2px;
}

.index-container {
    background-color: #A8C256;
    height: 330px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    padding: 0px 10px;
    border: 5px solid #000000;
}

.index-btn-container {
    background-color: #F3D9B1;
    text-align: center;
    padding: 40px 0px;
    width: 250px;
    border: 3px solid #000000;
}

.index-btn-text {
    font-size: 2rem;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: #000000;
}

#btn-space {
    margin-bottom: 20px;
}

.fa-play:hover {
    color: green;
}

.fa-list:hover {
    color: yellow;
}

