/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;500&family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #8fb8ed;
}

/*Styles for Index page*/
.main-title {
    font-size: 2.2rem;
    text-align: center;
    padding: 20px 0px;
    letter-spacing: 2px;
    font-family: 'Overpass', sans-serif;
}

.index-container {
    background-color: #907ad6;
    height: 330px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    padding: 0px 10px;
    border: 5px solid #000000;
}

.index-btn-container {
    background-color: #f1e3f3;
    text-align: center;
    padding: 40px 0px;
    width: 250px;
    border: 3px solid #000000;
    border-radius: 5px;
}

.index-btn-text {
    font-size: 1.8rem;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

.btn-space {
    margin-bottom: 20px;
}

.fa-play:hover {
    color: green;
}

.fa-list:hover {
    color: yellow;
}

/*Instruction page styles*/
#instructions-container {
    background-color: #907ad6;
    height: 330px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    padding: 0px 10px;
    border: 5px solid #000000;
}

#instructions-txt-container {
    background-color: #f1e3f3;
    text-align: center;
    padding: 40px 0px;
    height: 190px;
    width: 250px;
    border: 3px solid #000000;
    border-radius: 5px;
}

/*Game page styles*/
#question-title {
    font-size: 1rem;
    padding: 15px 0px;
    font-family: 'Roboto', sans-serif;
}

.question-container {
    background-color: #907ad6;
    height: 430px;
    width: 280px;
    margin: 20px auto;
    padding: 0px 10px;
    border: 5px solid #000000;
}

#question-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    background-color: #f1e3f3;
    text-align: start;
    padding: 20px 5px;
    width: 280px;
    border: 3px solid #000000;
    border-radius: 5px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px;
}

#btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#next-btn {
    color: #000000;
    margin: 10px 0px;
    background-color: #f3d9b1;
    padding: 6px;
    border: 3px solid #000000;
    font-family: 'Roboto', sans-serif;
}

#next-btn:hover {
    background-color: #f1e3f3;
    cursor: pointer;
}

.remove-link {
    text-decoration: none;
}

#finish-btn {
    margin: 10px 10px;
    background-color: #f3d9b1;
    padding: 6px;
    border: 3px solid #000000;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

#finish-btn:hover {
    background-color: #f1e3f3;
    cursor: pointer;
}

.disabled {
    pointer-events: none;
}

.correct-answer-colour {
    background-color: green;
}

.grey-out {
    background-color: grey;
}

.wrong-answer-colour {
    background-color: red;
}

/*Score page section*/
.score-container {
    background-color: #907ad6;
    height: 330px;
    width: 280px;
    margin: 20px auto;
    padding: 0px 10px;
    border: 5px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#score-txt-container {
    background-color: #f1e3f3;
    text-align: center;
    padding: 40px 0px;
    height: 190px;
    width: 250px;
    border: 3px solid #000000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#score-text {
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

#retry-btn {
    margin: 20px 10px;
    background-color: #f3d9b1;
    padding: 6px;
    border: 3px solid #000000;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

#trophy-icon {
    color: goldenrod;
    font-size: 1.8rem;
    padding: 20px;

}

#retry-btn:hover {
    background-color: #f1e3f3;
    cursor: pointer;
}


