* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #8fb8ed;
}

/*Styles for Index page*/
.main-title {
    font-size: 2.2rem;
    text-align: center;
    padding: 20px 0px;
    letter-spacing: 2px;
}

.index-container {
    background-color: #907ad6;
    height: 330px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    padding: 0px 10px;
    border: 5px solid #000000;
}

.index-btn-container {
    background-color: #f1e3f3;
    text-align: center;
    padding: 40px 0px;
    width: 250px;
    border: 3px solid #000000;
    border-radius: 5px;
}

.index-btn-text {
    font-size: 2rem;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: #000000;
}

#btn-space {
    margin-bottom: 20px;
}

.fa-play:hover {
    color: green;
}

.fa-list:hover {
    color: yellow;
}

/*Game page styles*/
#question-title {
    padding: 15px 0px;
}

.question-container {
    background-color: #907ad6;
    height: 430px;
    width: 280px;
    margin: 20px auto;
    padding: 0px 10px;
    border: 5px solid #000000;
}

.question-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    background-color: #f1e3f3;
    text-align: start;
    padding: 20px 5px;
    width: 280px;
    border: 3px solid #000000;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px;
}

.next-btn-container {
    display: flex;
    justify-content: end;
    align-items: end;
}

.next-btn {
    margin: 10px 0px;
    background-color: #f3d9b1;
    padding: 6px;
    border: 3px solid #000000;
    display: none;
}

.next-btn:hover {
    background-color: #f1e3f3;
    cursor: pointer;
}